body {
    font-family: 'Roboto', sans-serif;
    margin: 20px ;
    margin-color:#f4f4f9;
    padding: 20px 0 ;
    background-color: #ADD8E6;
    color: #4169E1;
}




header {
    background-color: #483D8B; 
    color: #FFFFFF; 
    text-align: center;
    padding: 50px 0;
}


h1, h2, h3, h4, h5, {
   color: #FFFFFF; 
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
 margin: 50px 0;
}

p {
    color: #000080; /* Navy Blue */
    background-color: #ADD8E6; /* Light Blue */
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 10px;
}

