body {

font-family: Arial, sans-serif;

color: #333;

background-color:: #f9f9f9;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

font-family:Cursive	
  
background-color:  #6495ED;
  
color: black;

padding: 21px;

text-align: center;

}
